.footer {
  background-color: black;
  margin: 0px;
  padding-top: 1.875rem;
}
.footer-container {
  background-color: black;
  max-width: 1200px; /* 75rem */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.8rem;
  padding: 5.625rem 1.25rem 1rem 1.25rem;
  align-items: center;  
}
.footer-texto {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #d0cfcc;
}
.footer-contato, .footer-contato li a {
  font-size: 1.875rem;
  line-height: 2.5rem;
  color: #f2f0f0;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.25rem;
  transition: .3s;
}
.footer-contato li a:hover{
  color: #847B7B;
}
.footer-contato li {
  padding-left: 10rem;
}
.footer-copy {
  font-size: 1rem;
  line-height: 2rem;
  color: #686868;
  grid-column: 1 / -1;
}

/* RESPONSIVO */
@media (max-width: 1140px){
  .footer-contato, .footer-contato li a{
  font-size: 1.5rem;
}
.footer-texto{
  margin-left: 3.5rem;
  font-size: 1.3rem;
  width: 30ch;
}
.footer-copy{
  margin-left: 2.5rem;
}
}
@media (max-width: 960px){
  .footer-contato, .footer-contato li a{
  font-size: 1rem;
  gap: 0rem;
}
.footer-texto{
  margin-left: 3.5rem;
  font-size: 1.3rem;
  width: 30ch;
}
.footer-copy{
  margin-left: 2.5rem;
}
}
@media (max-width: 830px){
  .footer-contato, .footer-contato li a{
  font-size: 0.9rem;
  gap: 0rem;
}
.footer-texto{
  margin-left: 3.5rem;
  font-size: 1.3rem;
  width: 30ch;
}
.footer-copy{
  margin-left: 2.5rem;
}
.footer-container{
  padding: 3rem 0rem 1rem 0rem;
}
}
@media (max-width: 840px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-texto{
    margin-left: 0rem;
    font-size: 1.3rem;
    width: 55ch;
  }
  .footer-contato{
    gap: 0rem;
  }
  .footer-contato, .footer-contato li{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }
  .footer-contato li a{
    font-size: 1.5rem;
  }
  .footer-container{
    padding: 3rem;
  }
  .footer-copy{
    margin: 0;
  }
}
@media (max-width: 695px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-texto{
    margin-left: 0rem;
    font-size: 1rem;
    line-height: 1.2rem;
    width: 55ch;
  }
  .footer-contato{
    gap: 0rem;
  }
  .footer-contato, .footer-contato li{
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .footer-contato li a{
    font-size: 1rem;
  }
  .footer-container{
    padding: 3rem;
    padding-bottom: 1rem;
  }
  .footer-copy{
    font-size: 0.8rem;
    margin: 0;
  }
}
@media (max-width: 560px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer-texto{
    margin-left: 0rem;
    font-size: 1rem;
    line-height: 1.2rem;
    width: 40ch;
  }
  .footer-contato{
    gap: 0rem;
  }
  .footer-contato, .footer-contato li{
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .footer-contato li a{
    font-size: 1rem;
  }
  .footer-container{
    padding: 3rem;
    padding-bottom: 1rem;
  }
  .footer-copy{
    font-size: 0.8rem;
    margin: 0;
  }
}
@media (max-width: 520px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-texto{
    margin-left: 0rem;
    font-size: 1rem;
    line-height: 1.3rem;
    width: 40ch;
  }
  .footer-contato{
    gap: 0rem;
  }
  .footer-contato, .footer-contato li{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }
  .footer-contato li a{
    font-size: 1.5rem;
  }
  .footer-container{
    padding: 3rem;
  }
  .footer-copy{
    margin: 0;
  }
}
@media (max-width: 420px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-texto{
    margin-left: 0rem;
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: initial !important;
  }
  .footer-contato{
    gap: 0rem;
  }
  .footer-contato, .footer-contato li{
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .footer-contato li a{
    font-size: 1rem;
  }
  .footer-container{
    padding: 3rem;
  }
  .footer-copy{
    margin: 0;
  }
}
@media (max-width: 415px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-texto{
    margin-left: 0rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
    max-width: initial !important;
  }
  .footer-contato{
    gap: 0rem;
  }
  .footer-contato, .footer-contato li{
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }
  .footer-contato li a{
    font-size: 0.9rem;
  }
  .footer-container{
    padding: 3rem;
  }
  .footer-copy{
    margin: 0;
  }
}
@media (max-width: 370px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-texto{
    margin-left: 0rem;
    font-size: 0.9rem;
    line-height: 0.9rem;
    width: 30ch;
  }
  .footer-contato{
    gap: 0rem;
  }
  .footer-contato, .footer-contato li{
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }
  .footer-contato li a{
    font-size: 0.8rem;
  }
  .footer-container{
    padding: 3rem;
    padding-bottom: 0.5rem;
  }
  .footer-copy{
    font-size: 0.6rem;
    margin: 0;
  }
}
@media (max-width: 330px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-texto{
    margin-left: 0rem;
    font-size: 0.9rem;
    line-height: 0.9rem;
    max-width: initial !important;
  }
  .footer-contato{
    gap: 0rem;
  }
  .footer-contato, .footer-contato li{
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }
  .footer-contato li a{
    font-size: 0.8rem;
  }
  .footer-container{
    padding: 3rem;
    padding-bottom: 0.5rem;
  }
  .footer-copy{
    font-size: 0.6rem;
    margin: 0;
  }
}
@media (max-width: 325px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-texto{
    margin-left: 0rem;
    font-size: 0.8rem;
    line-height: 1rem;
    max-width: initial !important;
  }
  .footer-contato{
    gap: 0rem;
  }
  .footer-contato, .footer-contato li{
    display: none;
  }
  .footer-contato li a{
    font-size: 0.8rem;
  }
  .footer-container{
    padding: 3rem;
    padding-bottom: 0.5rem;
  }
  .footer-copy{
    font-size: 0.6rem;
    margin: 0;
  }
}
@media (max-width: 305px){
.footer{
  display: none;
}
}
/* RESPONSIVO */
