/* LINES */
/* div,
footer,
span,
li,
a,
img,
h1,
h2,
h3,
h4,
.footer-container,
p {
  border: 1px solid black;
} */
/* LINES */

body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #0d0909;
}

/* CSS RESET */
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #0d0909;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* CSS RESET */

/* RESPONSIVO-GLOBAL */
@media (max-width: 1100px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 8.5rem;
    text-transform: uppercase;
    line-height: 9rem;
    word-break: break-all;
    max-width: 4ch;
  }
}
@media (max-width: 1065px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 8rem;
    word-break: break-all;
    max-width: 4ch;
  }
}
@media (max-width: 990px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 7.5rem;
    line-height: 9rem;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
  }
}
@media (max-width: 960px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 7rem;
    line-height: 8rem;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
  }
}
@media (max-width: 885px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 6.5rem;
    line-height: 8rem;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
  }
}
@media (max-width: 855px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 6rem;
    line-height: 7rem;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
  }
}
@media (max-width: 800px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 7rem;
    text-align: center;
    max-width: initial !important;
  }
  .formacao-container .subtitulo{
    max-width: initial !important;
    font-size: 5rem;
  }
}
@media (max-width: 795px){
  .experiencia .subtitulo{
    color: #AEACAB;
    font-size: 6.9rem;
  }
  .experiencia .subtitulo .strong1 {
    color: #AEACAB;
  }
  .formacao-container .subtitulo{
    color: #ffffff;
  }
}
@media (max-width: 740px){
  .experiencia .subtitulo{
    font-size: 6.7rem;
  }
  .experiencia .subtitulo .strong1 {
    color: #AEACAB;
  }
}
@media (max-width: 720px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 6.4rem;
  }
}
@media (max-width: 700px){
  .experiencia .subtitulo, .formacao-container .subtitulo {
    font-size: 5.8rem;
  }
}
@media (max-width: 650px){
  .experiencia .subtitulo, .formacao-container .subtitulo {
    font-size: 5.8rem;
  }
}
@media (max-width: 640px){
  .experiencia .subtitulo, .formacao-container .subtitulo {
    font-size: 5.5rem;
  }
}
@media (max-width: 610px){
  .experiencia .subtitulo, .formacao-container .subtitulo{
    font-size: 5.3rem;
  }
}
@media (max-width: 600px){
  .experiencia .subtitulo, .formacao-container .subtitulo {
    font-size: 5rem;
  }
  .formacao-container .subtitulo{
    font-size: 4.5rem !important;
  }
}
@media (max-width: 575px){
  .experiencia .subtitulo {
    font-size: 5rem;
  }
  .formacao-container .subtitulo{
    font-size: 4rem !important;
  }
}
@media (max-width: 565px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 4.8rem;
  }
  .formacao-container .subtitulo{
    font-size: 4rem !important;
  }
}
@media (max-width: 545px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 4.5rem;
  }
}
@media (max-width: 520px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 4.1rem;
  }
  .formacao-container .subtitulo{
    margin-bottom: 0rem;
  }
}
@media (max-width: 485px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 4rem;
  }
}
@media (max-width: 440px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 3.8rem;
    /* margin: 0 auto; */
    margin-left: 0px;
  }
}
@media (max-width: 430px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 3.5rem;
    /* margin: 0 auto; */
    margin-left: 0px;
  }
  .formacao-container .subtitulo{
    font-size: 3rem !important;
    margin: 0px !important;
    padding: 0% !important;
    text-align: left;
  }
}
@media (max-width: 410px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 3rem;
    margin: 0 auto;
    margin-left: 0px;
    padding: 0px;
  }
  .formacao-container {
    padding: 0rem 0rem;
    margin: 0;
}
.formacao-container .subtitulo{
  text-align: left;
}
}
@media (max-width: 360px){
  .experiencia .subtitulo, .formacao-container .subtitulo  {
    font-size: 2.8rem;
    margin: 0 auto;
    margin-left: 0px;
    padding: 0px;
  }
  .formacao-container {
    padding: 0rem 0rem;
    margin: 0;
}
.formacao-container .subtitulo{
  text-align: left !important;
  font-size: 3rem !important;
}
}
@media (max-width: 360px){
  .formacao-container .subtitulo{
    display: none;
  }
}
/* RESPONSIVO-GLOBAL */

